/***************/
/* MEYER RESET */
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**************/
/* BASE RULES */
/**************/
html {
  font-size: 100%;
  font-family: "courier new", courier, monospace;
  font-weight: bold;
}

body {
  background: #fff;
  color: #333;
  overflow-y: scroll;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: bold;
  line-height: 1.5;
  font-weight: normal;
  margin: 2em 0 15px;
  padding: 0;
}
@media screen and (max-width: 640px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}

h1 {
  font-size: 1.5em;
}
h1 a {
  color: inherit;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
  color: #666;
}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5 {
  margin-bottom: 1em;
}

p {
  font-size: 14px;
  margin: 10px 0;
  line-height: 1.5em;
}

a {
  color: #337AB7;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active {
  color: #337AB7;
  text-decoration: underline;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: square;
  font-size: 14px;
}

.entry li {
  font-size: 14px;
  margin: 0px;
  line-height: 1.5em;
}

.entry h2 {
  font-size: 18px;
}

.entry hr {
  border-size: 10px;
  color: red;
}

hr {
  background: #ddd;
  border: 0;
  height: 1px;
  margin: 2em 0 0 0;
}

li {
  margin: 5px 0px 0px 0px;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
  color: #000;
}

img {
  max-width: 100%;
}

summary {
  background: #000000;
  color: #ffffff;
  margin-top: -30px;
  padding: 10px;
}

.gmnoprint img {
  max-width: none;
}

.date {
  font-style: normal;
  font-size: 14px;
  color: #666;
}

.post-date {
  font-style: normal;
  font-size: 14px;
  color: #666;
  margin-bottom: -20px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
.wrapper-masthead {
  margin-bottom: 50px;
  background: #ffffff;
  border-bottom: 1px solid #000000;
}

.masthead {
  padding: 20px 0;
  border-bottom: 0px solid #eee;
}
@media screen and (max-width: 640px) {
  .masthead {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-top: 9px;
}
@media screen and (max-width: 640px) {
  .site-avatar {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.site-avatar img {
  border-radius: 5px;
}

.site-info {
  float: left;
}
@media screen and (max-width: 640px) {
  .site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: Sans-Serif;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1px;
  text-shadow: 0px 1px 2px #4D665A;
}
.site-name a {
  color: #ffffff;
}
.site-name a:hover {
  color: #9ED4BB;
  text-decoration: none;
  text-shadow: 0px 1px 2px #4D665A;
}

.site-description {
  margin: 0;
  color: #000000;
  font-size: 13px;
}
.site-description a {
  color: red;
}
@media screen and (max-width: 640px) {
  .site-description {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 32px;
  font-size: 18px;
  font-family: "courier new", courier, monospace;
}
@media screen and (max-width: 640px) {
  nav {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
}
nav a {
  margin-left: 10px;
  color: #000000;
  text-decoration: underline;
  text-align: right;
  letter-spacing: 1px;
  font-size: 14px;
}
@media screen and (max-width: 640px) {
  nav a {
    margin-left: 5px;
    color: #000000;
    letter-spacing: 0px;
  }
}
nav a:hover {
  color: #0000c0;
  text-decoration: underline;
}

.site-info {
  color: #FFF;
}

.posts > .post {
  padding-bottom: 1.3em;
  margin-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post blockquote {
  margin: 1.8em 0.8em;
  border-left: 2px solid #666;
  padding: 0.1em 1em;
  color: #666;
  font-style: italic;
}
.post .post h1 {
  font-size: 1.7em;
  text-decoration: none;
  margin: 24px 0px 0px;
}
.post .comments {
  margin-top: 10px;
}
.post .read-more {
  text-transform: normal;
  font-size: 14px;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #000000;
  border-bottom: 0px solid #ddd;
  background-color: #ffffff;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}
footer p {
  font-size: 14px;
  margin: 10px 0px -5px 0px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-comments {
  font-size: 14px;
  font-style: italic;
  color: #828282;
  float: right;
  list-style-type: none;
}

.post-comments a:link, .post-comments a:visited {
  color: #828282;
}

.posts h1 {
  margin: 5px 0px -5px;
  text-decoration: none;
}

.post h2, .post h3 {
  margin-top: 25px;
}

.tags, .tags-page, .tags-cloud {
  list-style: none;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
}

.tags-cloud {
  padding: 0px;
}

#main .tags {
  border-bottom: solid 1px #000000;
}

.tags-page {
  border-top: solid 1px #000;
  padding-top: 10px;
  margin: 2rem 0 0 0;
}

.tags li, .tags-page li, .tags-cloud li {
  float: left;
}

.tag {
  background: #000000;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 12px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 10px;
  border-radius: 3px;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag:hover {
  background-color: #f5b915;
  color: #282828;
  text-decoration: none;
}

.tag:hover::after {
  border-left-color: #2EAE9B;
}

.tag:hover a:visited {
  color: #999;
}

.tag:visited hover {
  color: #282828;
}

.tags a:hover {
  color: #282828;
}

h1.post-title {
  font-size: 24px;
}

h2.tags-title {
  margin-top: 30px;
  border-bottom: solid 1px #6B1E69;
  border-color: #ccc;
}

.tags-title {
  font-size: 24px;
}

.tags-date {
  font-size: 14px;
  color: #828282;
}

.entry tags {
  border-bottom: solid 1px #6B1E69;
  border-color: #ccc;
}

.entry img, .content img {
  border: 1px solid #000;
  padding: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.highlighter-rouge {
  border-radius: 2px;
  border: 1px solid #DDD;
  padding: 2px 4px;
  background: #EEE;
  font-size: 12px;
  margin-bottom: 10px;
}

.highlighter-rouge .highlight {
  border: 0px;
  overflow: auto;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  max-width: 740px;
  margin: 0 auto;
  padding-bottom: 300px;
}
@media screen and (max-width: 640px) {
  .PageNavigation {
    padding-bottom: 0px;
  }
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
  float: right;
}

.pagination, .previous, .next {
  font-size: 14px;
}

.pagination {
  text-align: center;
  margin-top: -10px;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.page_number {
  width: 50%;
}

.related-posts {
  border-bottom: 1px solid #CCC;
  padding: 0 0 30px 0;
}

.related-posts h2 {
  margin-top: 0;
}

.related-posts li {
  font-size: 14px;
  margin: 6px 0px 0px 20px;
}

.comments {
  padding: 0;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1.5em;
}

.red-note {
  border-radius: 2px;
  border: 1px solid #DBB;
  padding: 2px 4px;
  background: #FDD;
  font-size: 12px;
  margin-bottom: 10px;
}
.red-note p {
  margin: 5px;
}

.comments h2 {
  margin-bottom: 0;
}

.single-comment {
  background: #F8F8F8;
  border: 1px solid #CCC;
  padding: 1em 1em 0 1em;
  border-radius: 2px;
  margin-top: 1em;
}

.comment-date {
  font-size: 12px;
  color: #555;
}

.comment-compose {
  border-top: 1px solid #CCC;
  margin-top: 2em;
}

.comment-form {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.comment-form p {
  padding: 0em;
  margin: 0.5em 0 0 0;
}

.comment-info {
  color: #555;
  font-size: 12px;
  margin: 0;
}

input {
  font-size: 14px;
  color: #333;
  width: 50%;
  padding: 0.5em;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  outline: none;
}

textarea {
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 150px;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f8f8f8;
  outline: none;
  margin: 8px 0 0 0;
}

button {
  background: linear-gradient(#ffd954, #f3dd77);
  color: #1d1d1d;
  border: none;
  padding: 1.2em 1.8em;
  text-decoration: bold;
  font-weight: bold;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 3px #c0a53c;
  outline: none;
}

button:hover {
  background-color: #51839C;
}

button:active {
  background-color: #51839C;
  box-shadow: 0 3px #83753c;
  transform: translateY(2px);
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: rgb(62.9, 62.9, 62.9);
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}
table tr:nth-child(even) {
  background-color: rgb(247.3, 247.3, 247.3);
}
table th, table td {
  padding: 10px 15px;
}
table th {
  background-color: rgb(239.65, 239.65, 239.65);
  border: 1px solid rgb(221.8, 221.8, 221.8);
  border-bottom-color: rgb(201.4, 201.4, 201.4);
}
table td {
  border: 1px solid #e8e8e8;
}

.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  margin: 5px 0 5px 0;
  overflow: scroll;
  font-size: 12px;
}

code {
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
}

.highlight .c {
  color: #586E75;
} /* Comment */
.highlight .err {
  color: #93A1A1;
} /* Error */
.highlight .g {
  color: #93A1A1;
} /* Generic */
.highlight .k {
  color: #859900;
} /* Keyword */
.highlight .l {
  color: #93A1A1;
} /* Literal */
.highlight .n {
  color: #93A1A1;
} /* Name */
.highlight .o {
  color: #859900;
} /* Operator */
.highlight .x {
  color: #CB4B16;
} /* Other */
.highlight .p {
  color: #93A1A1;
} /* Punctuation */
.highlight .cm {
  color: #586E75;
} /* Comment.Multiline */
.highlight .cp {
  color: #859900;
} /* Comment.Preproc */
.highlight .c1 {
  color: #586E75;
} /* Comment.Single */
.highlight .cs {
  color: #859900;
} /* Comment.Special */
.highlight .gd {
  color: #2AA198;
} /* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #DC322F;
} /* Generic.Error */
.highlight .gh {
  color: #CB4B16;
} /* Generic.Heading */
.highlight .gi {
  color: #859900;
} /* Generic.Inserted */
.highlight .go {
  color: #93A1A1;
} /* Generic.Output */
.highlight .gp {
  color: #93A1A1;
} /* Generic.Prompt */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #CB4B16;
} /* Generic.Subheading */
.highlight .gt {
  color: #93A1A1;
} /* Generic.Traceback */
.highlight .kc {
  color: #CB4B16;
} /* Keyword.Constant */
.highlight .kd {
  color: #268BD2;
} /* Keyword.Declaration */
.highlight .kn {
  color: #859900;
} /* Keyword.Namespace */
.highlight .kp {
  color: #859900;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #268BD2;
} /* Keyword.Reserved */
.highlight .kt {
  color: #DC322F;
} /* Keyword.Type */
.highlight .ld {
  color: #93A1A1;
} /* Literal.Date */
.highlight .m {
  color: #2AA198;
} /* Literal.Number */
.highlight .s {
  color: #2AA198;
} /* Literal.String */
.highlight .na {
  color: #93A1A1;
} /* Name.Attribute */
.highlight .nb {
  color: #B58900;
} /* Name.Builtin */
.highlight .nc {
  color: #268BD2;
} /* Name.Class */
.highlight .no {
  color: #CB4B16;
} /* Name.Constant */
.highlight .nd {
  color: #268BD2;
} /* Name.Decorator */
.highlight .ni {
  color: #CB4B16;
} /* Name.Entity */
.highlight .ne {
  color: #CB4B16;
} /* Name.Exception */
.highlight .nf {
  color: #268BD2;
} /* Name.Function */
.highlight .nl {
  color: #93A1A1;
} /* Name.Label */
.highlight .nn {
  color: #93A1A1;
} /* Name.Namespace */
.highlight .nx {
  color: #555;
} /* Name.Other */
.highlight .py {
  color: #93A1A1;
} /* Name.Property */
.highlight .nt {
  color: #268BD2;
} /* Name.Tag */
.highlight .nv {
  color: #268BD2;
} /* Name.Variable */
.highlight .ow {
  color: #859900;
} /* Operator.Word */
.highlight .w {
  color: #93A1A1;
} /* Text.Whitespace */
.highlight .mf {
  color: #2AA198;
} /* Literal.Number.Float */
.highlight .mh {
  color: #2AA198;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #2AA198;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #2AA198;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #586E75;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #2AA198;
} /* Literal.String.Char */
.highlight .sd {
  color: #93A1A1;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #2AA198;
} /* Literal.String.Double */
.highlight .se {
  color: #CB4B16;
} /* Literal.String.Escape */
.highlight .sh {
  color: #93A1A1;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #2AA198;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #2AA198;
} /* Literal.String.Other */
.highlight .sr {
  color: #DC322F;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #2AA198;
} /* Literal.String.Single */
.highlight .ss {
  color: #2AA198;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #268BD2;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268BD2;
} /* Name.Variable.Class */
.highlight .vg {
  color: #268BD2;
} /* Name.Variable.Global */
.highlight .vi {
  color: #268BD2;
} /* Name.Variable.Instance */
.highlight .il {
  color: #2AA198;
} /* Literal.Number.Integer.Long */
.svg-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.svg-icon.instagram {
  background-image: url(images/icons/instagram.svg);
}
.svg-icon.github {
  background-image: url(images/icons/github.svg);
}
.svg-icon.rss {
  background-image: url(images/icons/rss.svg);
}

/*# sourceMappingURL=style.css.map */